<div class="card mb-3 list-container md-margin">
    <h3 class="card-header">{{title}}</h3>
    <div class="card-body">
        <div class="row">
            <div class="col page-filters m-5">
                <div class="v-center-inline mr-3">
                    <span class="mr-2">
                        Titolo:
                    </span>
                    <input type="text" placeholder="Cerca..." class="form-control search-input" [(ngModel)]="filtro.ricerca">
                </div>
                <button class="btn btn-secondary v-center-inline" (click)="filterChanged()">
                    <i class="material-icons">search</i> Avvia ricerca
                </button>
            </div>
            <div class="float-right v-center-inline m-4">
                <button class="btn btn-secondary v-center" (click)="openCreate()">
                    <i class="material-icons">add</i> Aggiungi attività
                </button>
            </div>
        </div>
        <div *ngIf="archivioView" class="row">
            <div class="col-md-3">
                <div class="detail-label">Dal:
                    <dp-date-picker [(ngModel)]="filtro.dataInizio" [config]="filterDatePickerConfig" theme="dp-material"></dp-date-picker>
                    <span class="glyphicon glyphicon-calendar icon-size no-shadow calendar-icon"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="detail-label">Al:
                    <dp-date-picker [(ngModel)]="filtro.dataFine" [config]="filterDatePickerConfig" theme="dp-material"></dp-date-picker>
                    <span class="glyphicon glyphicon-calendar icon-size no-shadow calendar-icon"></span>
                </div>
            </div>
            <div class="col-md-3 detail-label">Tipologia:
                <select class="col-md-8 filter-data" (change)="setSelectedTipo($event.target)">
                    <option *ngFor="let tipology of tipologie" [ngValue]="tipology.id" [selected]="tipology.selected">
                        {{ tipology.titolo }}
                    </option>
                </select>
            </div>
            <div class="col-md-2 detail-label">
                <input type="text" placeholder="Filtra" [(ngModel)]="filtro.ricerca">
            </div>
            <div class="col-md-1">
                <div class="pull-right">
                    <button type="button" class="btn btn-secondary" (click)="cerca()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Cerca
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="attivita && attivita.length" class="table list-group">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>Tipologia</th>
                        <th>Periodo</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let attiv of attivita;">
                        <td class="align-middle">{{ attiv.titolo }}</td>
                        <td class="align-middle">{{ getTitoloTipo(attiv.tipologia) }}</td>
                        <td class="align-middle">Dal {{ attiv.dataInizio | date: 'dd/MM/yyyy'}} al {{ attiv.dataFine | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <div class="pull-right">
                                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary btn-action" (click)="openDetail(attiv)">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Vedi
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-action v-center" (click)="openModify(attiv)">
                                        <i class="material-icons">mode_edit</i>&nbsp;Modifica
                                    </button>
                                    <button type="button" class="btn btn-danger btn-action v-center" (click)="openDelete(attiv)">
                                        <i class="material-icons">delete</i>&nbsp;Cancella
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!attivita.length" class="font-14 text-center font-weight-bold">
            <span *ngIf="!emptyFilter">Nessuna attività interna corrispondende al filtro impostato</span>
            <span *ngIf="emptyFilter">Nessuna attività interna, creane una tramite l'apposito pulsante</span>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <cm-pagination #cmPagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></cm-pagination>
            </div>
        </div>
    </div>

</div>