<sub-navbar [titolo]="navTitle" [breadcrumbItems]="breadcrumbItems"></sub-navbar>
<div class="sub-navbar-content-below mx-auto" style="max-width: 1200px;">
    <div *ngIf="attachedStudenti">
        <cm-students-selector [popupTitle] ="popupTitle" [popupText] ="popupText" [warningText]="warningText" [blockCompleteOperation]="blockCompleteOperation" [attachedAttivitaInfoText]="attachedAttivitaInfoText" [attachedStudenti]="attachedStudenti" [attachedStudentButtonText]="attachedStudentButtonText" (onNewStudentAddedListener)="updateAttivita($event)"></cm-students-selector>
    </div>
</div>