.modal-header {
    .modal-title {
        font-size: 18px;
    }
}
.modal-body {
       .row {
           padding: 8px;
           .detail-label{
               font-size: 18px;
               font-weight: bold;
           }
       }
}