.footer {
    position: relative;
    background-color: #4D4D4D;
    z-index: 999;
    color: white;
}
.footer .footer-images img {
    max-height: 80px;
}
.footer .footer-content a {
    color: white;
    text-decoration: underline;
}