
.list-container{
    margin-top: 40px;
    .filter-label {
        line-height: 40px;
    }
    >.row {
        margin: 0px;
    }

    .card-body {
        >.row {
            align-items: center;
            .filter-data {
                span {
                    position: absolute;
                    right: 20px;
                    bottom: 0px;
                    font-size: 15px;
                }
            }
        }
        button {
            span {
                margin: 4px;
            }
        }
    }

    .list-group {
        margin-top: 20px;
        .row {
            align-items: center;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
        }
        .content {
            font-size: 20px;
        }
    }
}
.piano-scaduto{
    color: #D32F2F;
}
.piano-scadenza{
    color:#EF6C00;
}
.piano-corso {
    color: #2E7D32;
}
.piano-creato {
    color: #1565C0;
}