<div class="card mb-3 list-container md-margin">
  <h3 class="card-header">Guida</h3>
  <div class="card-body">
    <h1>Lista programmazioni</h1>

    <p>Questa vista permette di assegnare un’attività di alternanza ad uno studente o ad un gruppo.</p>
    <p>Per assegnare un’attività individuale ad uno studente e’ necessario selezionare il PAA di riferimento,
      selezionare l’utente specifico, ricercare l’attività ed infine assegnarla allo stesso.</p>
    <p>Per assegnare un’attività di gruppo e’ necessario selezionare il PAA di riferimento, ricercare l’attività,
      istanziarla e infine assegnare alla stessa gli studenti di riferimento.</p>

    <h1>Attività in corso</h1>
    <p>Questa vista permette di verificare e gestire lo stato delle attività in corso. In particolare e’ possibile
      gestire le presenze del/degli studente/i e/o marcare come completata l’attività.</p>

    <h1>Attività completate</h1>
    <p>Questa vista permette di verificare e gestore la lista delle attività completate. Nello specifico la vista
      consente di riattivare un’attività marcata come completata.</p>

    <h1>Attività eccezioni</h1>
    <p>Questa vista permette di verificare e gestore la lista delle attività che non sono state completate
      correttamente degli studenti nei tempi definiti. Nello specifico la vista consente di assegnare una nuova
      attività a tutti quelli studenti che presentano delle eccezioni.</p>
  </div>
</div>