<sub-navbar [titolo]="navTitle" [breadcrumbItems]="breadcrumbItems"></sub-navbar>
<div *ngIf="attivitaAltGruppo" class="sub-navbar-content-below">
    <div class="sub-navbar-content-below mx-auto" style="max-width: 1200px;">
        <div class="card md-margin">
            <div class="card-header">
                <div class="card-title">Dettaglio attività</div>
                <div class="card-actions">
                    <button *ngIf="attivitaAltGruppo.stato == -1" class="btn btn-flat" (click)="editAttivita()">
                        <i class="material-icons">mode_edit</i>
                        <span>Modifica</span>
                    </button>
                    <button *ngIf="!attivitaAltGruppo.completata" class="btn btn-flat btn-danger" (click)="deleteAttivita()">
                        <i class="material-icons">delete</i>
                        <span>Cancella</span>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-sm-4 detail-label">Titolo</label>
                    <div class="col-sm-8">{{attivitaAltGruppo.titolo}}</div>
                </div>
                <div class="row">
                    <label class="col-sm-4 detail-label">Periodo</label>
                    <div class="col-sm-8">{{attivitaAltGruppo.dataInizio | date: 'dd/MM/yyyy'}} - {{attivitaAltGruppo.dataFine | date: 'dd/MM/yyyy'}}</div>
                </div>
                <div class="row">
                    <label class="col-sm-4 detail-label">Ore totali</label>
                    <div class="col-sm-8">{{attivitaAltGruppo.ore}}</div>
                </div>
                <div class="row">
                    <label class="col-sm-4 detail-label">Tutor scolastico</label>
                    <div class="col-sm-8">{{attivitaAltGruppo.referenteScuola}}</div>
                </div>
                <div class="row">
                    <label class="col-sm-4 detail-label">Codice Fiscale (Tutor scolastico)</label>
                    <div class="col-sm-8">{{attivitaAltGruppo.referenteScuolaCF}}</div>
                </div>
            </div>
        </div>

        <div class="card md-margin">
            <div class="card-header">
                <div class="card-title">
                    Competenze associate
                </div>
                <div class="card-actions">
                    <button *ngIf="!attivitaAltGruppo.completata" class="btn btn-secondary" (click)="addCompetenze()">
                        <i class="material-icons">add</i> Aggiungi competenze</button>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group" *ngIf="attivitaAltGruppo.competenze && attivitaAltGruppo.competenze.length>0">
                    <li class="list-group-item" *ngFor="let competenza of attivitaAltGruppo.competenze">
                        <div class="row">
                            <div class="col-10">
                                <div class="competenza-title">{{competenza.titolo}}</div>
                                <div class="competenza-description">{{competenza.profilo}}</div>
                            </div>
                            <div class="col-2">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-flat" (click)="openDetailCompetenza(competenza, $event)">
                                        <i class="material-icons">info_outline</i>
                                    </button>
                                    <!-- <button *ngIf="attivitaAltGruppo.stato == -1" class="btn btn-danger btn-flat" (click)="deleteCompetenza(competenza, $event)">
                                        <i class="material-icons">delete</i>
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="empty-list" *ngIf="!attivitaAltGruppo.competenze || attivitaAltGruppo.competenze.length==0">
                    <span>Nessuna competenza associata</span>
                </div>
            </div>

        </div>
    </div>
</div>