<div class="modal-header">
    <h4 class="modal-title">Duplicare "{{piano.titolo}}"?</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Sei sicuro di voler creare una copia del piano alternanza "{{piano.titolo}}"?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-flat" (click)="activeModal.close('Close click')">Annulla</button>
    <button type="button" class="btn btn-flat btn-success" (click)="cloneConfirm()">Duplica piano</button>
</div>